$width: 300px;
$detailcardwidth: 95%;
$heroheight: 200px;

.hline{
  border: 1px solid #E1E1E1;
}

li {
  list-style-image: url(/images/assets/oval2.png);
}

.card-desc{
  margin: 15px;
  font-size: 15px;
  color: #5A5A5A;
  line-height: 20px;
  overflow: hidden;
  height: 140px; 
  position: relative;
}
.card-desc:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 20px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}
.card-hero-wrapper{
  position:relative;
  width: $width;
  height: $heroheight;
  overflow: hidden;
  z-index: 240;
  max-width:100%;
  border-radius: 10px 10px 0 0;  
}
.card-hero{
  position:absolute;
  min-width: 100%;
  min-height: $heroheight;
  overflow: hidden;
  z-index: 240;
  border-radius: 10px 10px 0 0;  
}
.card-title{
  position: absolute;
  left:95px;
  top:155px;
  z-index: 260;
  color: #fff;

  overflow: hidden;

  font-size: 20px;
  line-height: 20px;
  white-space:nowrap;
  text-overflow: ellipsis;
  width: 200px;
}
.card-subtitle{
  position: absolute;
  left:95px;
  top:180px;
  z-index: 260;
  color: #fff;
  overflow: hidden;

  font-size: 13px;
  line-height: 13px;
  white-space:nowrap;
  text-overflow: ellipsis;
  width: 200px;
}
.card-logo{
  position: absolute;
  left:24px;
  top:150px;
  width: 65px;
  height: 65px;
  z-index: 260;
  border-radius: 100%;
  border: 1px solid #e1e1e1;
}
.card-title-grad{
  position: absolute;
  width: $width;
  height: 90px;
  left: 0px;
  top: 110px;
  background-image: -o-linear-gradient(-89deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.80) 73%);
  background-image: -moz-linear-gradient(-89deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.80) 73%);
  background-image: -ms-linear-gradient(-89deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.80) 73%);
  background-image: linear-gradient(-179deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.80) 73%);
  z-index: 255;
}
.card-background{
  position: relative;
  background: #fff;
  width: $width;
  border-radius: 10px;
  border-bottom: 1px solid #E1E1E1;
  height: 430px;
}
.card-detail{
  margin: 5px;
  width: $width;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  height: 50px;
  overflow: hidden;
  font-size: 14px;
  color: #AFAFAF;
  ul{
    padding-left: 0;
  }
}
.card-tutorial-btn{
  z-index: 280;
}
.card-overlay-wrapper{
  position: absolute;
  top: 0;
  z-index: 1001;
  width: 300px;
  height: 430px;
  img{
    width:100%;
    height: 430px;
  }
}

div[class^="jobcard"] {
  z-index: 176;
}
.jobcard0{
  z-index: 180;
}
.jobcard1{
  z-index: 179;
}
.jobcard2{
  z-index: 178;
}
.jobcard3{
  z-index: 177;
}

// Detail card
.detail-card {
  color: #5A5A5A;
  margin-top: 5px;
  height: auto;
  width: $detailcardwidth;
}
.detail-card h4 {
  color: #DD4F3C;
  font-size: 14px;
  text-align: center;
}
.detail-card-background{
  position: relative;
  background: #fff;
  width: $detailcardwidth;
  height: 100%;
  border: 1px solid #E1E1E1;
}
.detail-card-logo{
  z-index: 270;
  @extend .card-logo;
}
.detail-card-hero{
  z-index: 250;
  @extend .card-hero;
  width: $detailcardwidth;
}
.detail-card-title-grad{
  z-index: 260;
  @extend .card-title-grad;
  width: $detailcardwidth;
}
.detail-card-title{
  z-index: 270;
  @extend .card-title;
  width: $detailcardwidth;
}
.detail-card-subtitle{
  z-index: 270;
  @extend .card-subtitle;
  width: $detailcardwidth;
}
.detail-card-desc{
  z-index: 240;
  @extend .card-desc;
  height: auto;
}
.detail-card-detail{
  z-index: 240;
  @extend .card-detail;
  width: $detailcardwidth;
}

.detail-card-skillset{
  z-index: 240;
  @extend .card-desc;
  width: $detailcardwidth;
}

.detail-card-company{
  z-index: 240;
  @extend .card-desc;
  width: $detailcardwidth;
}

.detail-card-founder{
  z-index: 240;
  @extend .card-desc;
  width: $detailcardwidth;
}

.detail-card-founder .media-heading {
  color: #5A5A5A;
  font-weight: strong;
}

.detail-card-product {
  z-index: 220;
  @extend .card-desc;
  width: $detailcardwidth;
}

.detail-card-whyus {
  z-index: 240;
  @extend .card-desc;
  width: $detailcardwidth;
}

.img-founder1 {
  display:block;
  float: left;
  margin: 10px;
  width: 80px;
  height: 80px;
  background-image: url('/images/assets/SteveNewcomb.jpg');
  background-size: cover;
  display: block;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}

.img-founder2 {
  display:block;
  float: left;
  margin: 10px;
  width: 80px;
  height: 80px;
  background-image: url('/images/assets/MarkLu.jpg');
  background-size: cover;
  display: block;
   border-radius: 100%;
 -webkit-border-radius: 100%;
 -moz-border-radius: 100%;
}

.media-heading {
  font-weight: 800;
}
