// job has // z-index of 200-300


$width: 300px;
$detailcardwidth: 320px;
$heroheight: 200px;
$borderradius: 10px;
.job-background-blur{
//  @extend .blur;
  @include filter(blur(15px) brightness(0.5));
  z-index: 201;
  min-width: 120%;
  min-height: 120%;
  margin: -10%;
}
.hline{
  border: 1px solid #E1E1E1;
}

li.list-item { 
  list-style-type: none;
  position: relative;
  padding-left: 25px;
  margin-top: 1px;
  margin-bottom: 1px;
}
li.list-item:before { 
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  background: url(/images/assets/oval2.png) no-repeat left top;
  background-size: 14px;
  height: 28px;
  width: 28px;
}

.card-desc{
  margin: 15px;
  font-size: 15px;
  color: #5A5A5A;
  line-height: 20px;
  overflow: hidden;
  height: 100px; 
  position: relative;
}
.card-desc:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 20px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}
.card-hero-wrapper{
  position:relative;
  width: $width;
  height: $heroheight;
  overflow: hidden;
  // z-index: 240;
  max-width:100%;
  border-radius: $borderradius $borderradius 0 0;  
}
.card-hero{
  position:absolute;
  min-width: 100%;
  min-height: $heroheight;
  overflow: hidden;
  // z-index: 240;
  border-radius: $borderradius $borderradius 0 0;  
}
.card-title{
  position: absolute;
  left:90px;
  top:155px;
  z-index: 260;
  color: #fff;

  overflow: hidden;

  font-size: 20px;
  line-height: 20px;
  white-space:nowrap;
  text-overflow: ellipsis;
  width: 200px;
}
.card-subtitle{
  position: absolute;
  left:90px;
  top:180px;
   z-index: 260;
  color: #fff;
  overflow: hidden;

  font-size: 13px;
  line-height: 13px;
  white-space:nowrap;
  text-overflow: ellipsis;
  width: 200px;
}
.card-logo{
  position: absolute;
  left:15px;
  top:150px;
  width: 65px;
  height: 65px;
   z-index: 260;
  border-radius: 100%;
  border: 1px solid #e1e1e1;
}
.card-title-grad{
  position: absolute;
  width: $width;
  height: 90px;
  left: 0px;
  top: 110px;
  background-image: -o-linear-gradient(-89deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.80) 73%);
  background-image: -moz-linear-gradient(-89deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.80) 73%);
  background-image: -ms-linear-gradient(-89deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.80) 73%);
  background-image: linear-gradient(-179deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.80) 73%);
  z-index: 255;
}
.card-background{
  position: relative;
  background: #fff;
  width: $width;
  border-radius: $borderradius;
  border-bottom: 1px solid #E1E1E1;
  height: 415px;
}
@mixin card-detail($ncol) {
  margin: 14px;
  -webkit-column-count: $ncol; /* Chrome, Safari, Opera */
  -moz-column-count: $ncol; /* Firefox */
  column-count: $ncol;
  height: 50px;
  overflow: hidden;
  font-size: 14px;
  line-height: 22px;
  color: #AFAFAF;
  ul{
    padding-left: 0;
    margin: 0;
  }
}
.card-detail{
  @include card-detail(1)
}
.card-detail-2{
  @include card-detail(2)
}

.card-tutorial-btn{
   z-index: 300;
}
.card-overlay-wrapper{
  position: absolute;
  top: 0;
  z-index: 299;
  width: 100%;
  height: 100%;
  text-align: center;
}
.card-overlay{
  position: absolute;
  border-radius: $borderradius;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.card-overlay-pass{
  background-color: #e5432e;
  @extend .card-overlay;
}
.card-overlay-text{
  font-family: 'AvenirLTStd-Medium';
  color: white;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px rgba(100,100,100,1);
}
.card-overlay-text-wrapper{
  position: absolute;
  top: 45%;
  width: 100%;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center; 
}
.card-overlay-fav{
  background-color: #38ac7f;
  @extend .card-overlay;
}
h4.detail-card-section-header {
  color: #DD4F3C;
  font-size: 14px;
  text-align: center;
  margin-top:15px;
  margin-bottom:15px;
}
.detail-card-background{
  position: relative;
  background: #fff;
  width: $detailcardwidth;
  height: 100%;
  border: 1px solid #E1E1E1;
}
.detail-card-desc-wrapper{
  padding-top:240px;
}
.detail-card-hero{
  z-index: 650;
  border-radius: 0;  
  @extend .card-hero;
  width: $detailcardwidth;
  height: 240px;
}
.detail-card-logo{
  z-index: 670;
  @extend .card-logo;
  top:190px;
}
.detail-card-title-grad{
  z-index: 660;
  @extend .card-title-grad;
  width: $detailcardwidth;
  top: 150px;
}
.detail-card-title{
  z-index: 670;
  @extend .card-title;
  width: $detailcardwidth;
  top:195px;
}
.detail-card-subtitle{
  z-index: 670;
  @extend .card-subtitle;
  width: $detailcardwidth;
  top:220px;
}
.detail-card-desc{
  z-index: 640;
  @extend .card-desc;
  height: auto;
}
.detail-card-detail-2{
  z-index: 640;
  @extend .card-detail-2;
  height: auto;
}
.detail-card-detail{
  z-index: 640;
  @extend .card-detail;
  height: auto;
}

.detail-card-founder .media-heading {
  color: #5A5A5A;
  font-weight: strong;
}

img.img-founder {
  display:block;
  float: left;
  margin: 5px 15px 5px 0;
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}

.media-heading {
  font-weight: 800;
}
.detail-scroll-view{
  // z-index: 500 !important;
}
.margin-bottom-100{
  margin-bottom: 100px;
}
.apply-btn{
  width: 290px;
  z-index: 670 !important;
}

.media{
  clear:both;
  margin: 0 10px 10px 10px;
}

.media-body{
  font-family: 'AvenirLTStd-Light';
  font-size: 15px;
  color: #5A5A5A;
  line-height: 20px;
  /* Co-founder / CTO @Ka: */
}

