.login-btn-wrap{
  border-radius: 4px;
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  width: 290px;
  height: 365px;
  position: relative;
  margin: auto;
}
.login-btn{
  width: 250px;
  bottom: 17.5px;
  margin: 0 20px;
  position: absolute;
}
