$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
@import "./font.scss";
@import "./profile.scss";
@import "./card.scss";
@import "./apply.scss";
@import "./question.scss";

/* Bitmap: */
$primary-color: #ffffff;
$secondary-color: #5A5A5A;
$decor-color: #AFAFAF;
$bg-color: #e1e1e1;

body {
    margin: 0;
//    font-family: 'Avenir LT Std 35 Light';
    font-weight: 400;
}

.full-screen {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

@mixin filter($filter) {
  -webkit-filter: $filter;
  -moz-filter: $filter;
  -ms-filter: $filter;
  -o-filter: $filter;
  filter: $filter;
}

@mixin box-shadow($filter) {
  -webkit-box-shadow: $filter;
  -moz-box-shadow: $filter;
  box-shadow: $filter;
}

.blur{
  height: 100%;
  z-index: 100;
  @include filter(blur(25px) brightness(0.3));
}

.action-button{
  border-radius: 40px;
  background-color: #4CC68A;
  background-image: -o-linear-gradient(-86deg, #4CC68A 0%, #30B071 100%);
  background-image: -moz-linear-gradient(-86deg, #4CC68A 0%, #30B071 100%);
  background-image: -ms-linear-gradient(-86deg, #4CC68A 0%, #30B071 100%);
  background-image: linear-gradient(-176deg, #4CC68A 0%, #30B071 100%);
  font-family: 'AvenirLTStd-Medium';
  font-size: 15px;
  color: #FFFFFF;
  line-height: 40px;
  text-transform: uppercase;
}
