//$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import "./bootstrap.css";
// bower:scss
// endbower

/* Bitmap: */
$primary-color: #ffffff;
$secondary-color: #5A5A5A;
$decor-color: #AFAFAF;
$bg-color: #e1e1e1;

body {
    margin: 0;
    font-family: 'AvenirLTStd-Light';
    font-weight: 300;
    background-color: 'black';
}

.full-screen {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.famous-angular-container{
  background-color: black;
}

@mixin filter($filter) {
  -webkit-filter: $filter;
  -moz-filter: $filter;
  -ms-filter: $filter;
  -o-filter: $filter;
  filter: $filter;
}

@mixin box-shadow($filter) {
  -webkit-box-shadow: $filter;
  -moz-box-shadow: $filter;
  box-shadow: $filter;
}

.blur{
  height: 100%;
  z-index: 100;
  @include filter(blur(25px) brightness(0.3));
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}

.action-button{
  border-radius: 40px;
  background-color: #4CC68A;
  background-image: -o-linear-gradient(-86deg, #4CC68A 0%, #30B071 100%);
  background-image: -moz-linear-gradient(-86deg, #4CC68A 0%, #30B071 100%);
  background-image: -ms-linear-gradient(-86deg, #4CC68A 0%, #30B071 100%);
  background-image: linear-gradient(-176deg, #4CC68A 0%, #30B071 100%);
  font-family: 'AvenirLTStd-Medium';
  font-size: 15px;
  color: #FFFFFF;
  line-height: 40px;
  text-transform: uppercase;
  opacity: 0.9;
//  background-blend-mode: multiply, multiply;
//  -webkit-background-blend-mode: multiply, multiply;
  
}
//- 000-100   login
//- 101-200   profile
//- 201-300   job
//- 301-400   tutorial
//- 401-500   apply: like | applied | approved
//- 501-600   menu
//- 601-700   detail
//- 701-800   question
.login-surface{
  z-index: 50;
}
.profile-surface{
  z-index: 150;
}
.job-surface{
  z-index: 250;
}
.tutorial-surface{
  z-index: 350;
}
.apply-surface{
  z-index: 450;
}
.menu-surface{
  z-index: 550;
}
.detail-surface{
  z-index: 650;
}
.question-surface{
  z-index: 750;
}

.jobcard0{
   z-index: 255;
}
.jobcard1{
   z-index: 254;
}
.jobcard2{
   z-index: 253;
}
.jobcard3{
   z-index: 252;
}
div[class^="jobcard"] {
   z-index: 251;
}

.no-wrap-text {
  overflow: hidden;
}

@import "./font.scss";
@import "./profile.scss";
@import "./card.scss";
@import "./apply.scss";
@import "./question.scss";
@import "./tutorial.scss";
@import "./login.scss";
@import "./menu.scss";
