
.profile-background-blur{
//  @extend .blur;
  // z-index: 100;
  min-width: 110%;
  min-height: 110%;
  @include filter(blur(50px) brightness(0.4));
  margin: -5% -5% -5% -5%;
  z-index: 101;
  background-color: #fff;
}
.profile-content {
  margin-top: 20px;
}
.profile-name {
  font-family: 'AvenirLTStd-Medium';
  font-size: 15px;
  color: #FFFFFF;
  line-height: 20px;
  text-transform: uppercase;
  margin: 15px 0 0 0;
  /* STEFAN BORSJE: */
}
.profile-email{
  font-family: 'AvenirLTStd-Light';
  font-size: 15px;
  color: #FFFFFF;
  line-height: 18px;
  margin-bottom: 20px;
}
.profile-link {
  color: #DD4F3C;
}
.profile-bio {
  font-family: 'AvenirLTStd-Light';
  font-size: 15px;
  color: #FFFFFF;
  line-height: 20px;
  margin: 15px 0;
}
.profile-skill {
  font-family: 'AvenirLTStd-Light';
  font-size: 15px;
  color: #FFFFFF;
  line-height: 20px;
  opacity: 0.5;
  margin: 15px 0;
  /* San Francisco · Sili: */
}

.profile-signout {
  font-family: 'AvenirLTStd-Light';
  font-size: 18px;
  color: #FFFFFF;
  line-height: 21.5px;
  margin: 50px 0;
  cursor: pointer;
}
.profile-notavailable{
  font-family: 'AvenirLTStd-Light';
  font-size: 18px;
  color: #FFFFFF;
  line-height: 21.5px;
  margin: 50px 0;
  text-align: center;
}
.profile-logo {
  background-image: url('/images/assets/logo.png');
  background-size: cover;
  width: 100px;
  height: 39px;
  display: block;
  float: center;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.profile-img {
  display:block;
  float: left;
  margin: 20px 0;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
