fa-modifier(fa-align="[0,1]",fa-origin="[0,1]")
  fa-surface.menu-surface(class="profile-footer", fa-pipe-to="swipePipe", fa-size="[auto,64]")
    .row
      .col-xs-4.col-xs-offset-4
        img.profile-icon(src="/images/assets/profile.png")
      .col-xs-4
        img.profile-nav(src="/images/assets/nav-arrow.png")
