fa-app.full-screen.main-content(ng-if="mode=='Like'")
  fa-surface(class="apply-content", fa-pipe-to="listPipe", fa-size="[undefined,undefined]")
  fa-scroll-view(fa-start-index="0", fa-pipe-from="listPipe", fa-options="options.listScrollView")
    fa-modifier(ng-repeat="card in likes")
      fa-surface(class="apply-content", fa-pipe-to="listPipe", fa-size="[undefined,true]", )
        .empty(ng-if="likes.length<=0")
          h4 There's nothing here yet.
        div(ng-click="showDetail(card)")
          include list-item
fa-app.full-screen.main-content(ng-if="mode=='Applied'")
  fa-surface(class="apply-content", fa-pipe-to="listPipe", fa-size="[undefined,undefined]")
  fa-scroll-view(fa-start-index="0", fa-pipe-from="listPipe", fa-options="options.listScrollView")
    fa-surface(class="apply-content", fa-pipe-to="listPipe", fa-size="[undefined,true]", )
      .empty(ng-if="applies.length<=0")
        h4 There's nothing here yet.
      div(ng-repeat="card in applies",ng-click="showDetail(card)")
        include list-item
fa-app.full-screen.main-content(ng-if="mode=='Approved'")
  fa-surface(class="apply-content", fa-pipe-to="listPipe", fa-size="[undefined,undefined]")
  fa-scroll-view(fa-start-index="0", fa-pipe-from="listPipe", fa-options="options.listScrollView")
    fa-surface(class="apply-content", fa-pipe-to="listPipe", fa-size="[undefined,true]", )
      .empty(ng-if="approves.length<=0")
        h4 There's nothing here yet.
      div(ng-repeat="card in approves",ng-click="showDetail(card)")
        include list-item
include card
