fa-modifier(id="{{'swipeMod'+$index}}",fa-translate="getPosition($index)")
  fa-modifier(fa-origin="[0, 0]", fa-align="[0, 0]", fa-translate="[9,64]")
    fa-surface(class="{{'jobcard'+$index}}", fa-pipe-to="swipePipe", fa-size="[300,true]")
      .detail-card-background
        img.detail-card-logo(src="/images/assets/logosq.png")
        .detail-card-title-grad
        .detail-card-title
          | Engineer
        .detail-card-subtitle
          | Famo.us
        img.detail-card-hero(src="/images/assets/hero.png")
        .detail-card-desc-wrap
          .detail-card-desc
            | Famo.us is a free and open source JavaScript development framework back by a host of cloud services. {{card}}
          .hline  
          .detail-card-detail
            ul
              li.list-item(ng-repeat="item in items track by $index")
                | {{item}}
