fa-modifier(id="{{'swipeMod'+$index}}",fa-translate="getPosition($index)")
  fa-modifier(fa-origin="[0, 0]", fa-align="[0, 0]", fa-translate="[9,64]")
    fa-scroll-view(fa-start-index="1", fa-pipe-from="enginePipe", fa-options="options.mainScrollView")
      fa-surface(class="{{'jobcard'+$index}}", fa-pipe-to="swipePipe", fa-size="[300,true]")
        .card-background
          img.card-logo(src="/images/assets/logosq.png")
          .card-title-grad
          .card-title
            | Front End Engineer
          .card-subtitle
            | Famo.us
          img.card-hero(src="/images/assets/hero.png")
          .card-desc-wrap
            .card-desc
              | Famo.us is a free and open source JavaScript development framework back by a host of cloud services. {{card}}
            .hline

            .detail-card
              .col-xs-6
                li 58 applicants
                li Full-time
              .col-xs-6
                li $90K - $125K
                li 0.05% - 0.4%
              .detail-card-skillset
                h4 SKILLSETS
                p.
                  Javacsript • CAD • OpenGL • Processing • WebGL • Three.js • OOP • MVC

              .detail-card-company
                h4 COMPANY
                li $4.1 Mil Serie A in 2013
                li 11-50 employees
                li San Francisco, CA

              .detail-card-founder
                h4 FOUNDER
                div.media
                  img.img-founder1
                  div.media-body
                    .media-heading Steve Newcomb
                    |Founder/CEO and front end developer/designer at @Famo.us , also co-founded @PowerSet

                div.media
                  img.img-founder2
                  div.media-body
                    .media-heading Mark Lu
                    |Founder/Engineer at @Famo.us • Studied at @Berkeley


              .detail-card-product
                h4 PRODUCT
                p Famo.us is a free and open source JavaScript development framework back by a host of cloud services. Famo.us is currently in private beta and about to launch into open beta to over 80,000 developers. Famo.us enables application developers to build beautiful native speed based apps and games in HTML5 that take advantage of famo.us' 3D rendering, 3D physics, multi-screen and gesture engines. Designers can access the motion via the physics engine without coding, application developers can build quickly using app templates and widgets without worrying about performance and platform engineers can build their own primitives from scratch with direct source code access to the full power of the famo.us engines.
                p Famo.us has build a JS library capable of rendering to HTML, Canvas and WebGL. It is powered by 4 core engines:
                  li a 3D rendering engine
                  li a 3D physics engine
                  li a gesture engine
                  li a multi-view engine

                p Wrapped around these engines is the API layer that enables developers to quickly and easily build native quality apps and games.

              .detail-card-whyus
                h4 WHY US?
                p. Famo.us is an an engineering centric company that is working on a complex front end engineering problem that requires only A+ engineers. We do not believe in hacking through code but rather we believe in elegant abstractions and well written code written correctly the first time. It is incredibly difficult to get into famo.us and only a very few engineers qualify through our interview process. However, once you are, you are among only the best.
