//- fa-modifier(fa-translate="[0,0,-cardSpacing*2-1]")
//-   fa-container-surface(fa-options="options.containerSurface")
//-     fa-image-surface.background-blur(fa-image-url="/images/assets/troy.jpg")

fa-modifier(fa-opacity="0.9",ng-controller="QuestionCtrl")
  fa-image-surface.question-background-blur(fa-pipe-to="questionScrollPipe", fa-size="[undefined,undefined]",fa-image-url="{{card.screenshot || '/images/assets/dummybackground.png'}}")
fa-modifier(fa-origin="[0.5,0.5]",fa-align="[0.5,0.5]")
  fa-surface(fa-pipe-to="questionScrollPipe", fa-size="[undefined,undefined]")
    img.xbutton(src="/images/assets/xbutton.png", ng-click="closeQuestion()")
    .question
      | What excites you about us? Why would you be a good fit?
    .outter-box
      .inner-box
        textarea(ng-model="note",sync-focus-with="isTextAreaFocused")
      .btn.action-button-green.submit-btn(ng-click="submitAnswer(card, note)") APPLY
