fa-view
  fa-modifier
    fa-image-surface.background-blur(fa-image-url="/images/assets/troy.jpg")
    fa-surface(fa-size="[320,undefined]")
      img.xbutton(src="/images/assets/xbutton.png")
      .question
        | What excites you about us? Why would you be a good fit?
      .outter-box
        .inner-box
          textarea 
        .btn.action-button.submit-btn SUBMIT
      