fa-view
  fa-modifier(fa-translate="getApplyPosition()")
    fa-modifier(fa-origin="[0, 0]", fa-align="[0, .85]")
      fa-surface.apply-menu.apply-layer(fa-pipe-to="applyPipe", fa-size="[320,64]")
        fa-modifier(fa-origin="[0,1]", fa-align="[0,1]", fa-translate="[0,45/2]")
          fa-sequential-layout(fa-options="options.applyMenuList")
            fa-view(ng-repeat="menu in applymenus")
              fa-surface.apply-menu-item(fa-size="[320/3,true]")
                | {{menu}}
    fa-modifier(fa-origin="[0, 0]", fa-align="[0, 0]", fa-translate="[0,64]", fa-size="[undefined,504]")
      fa-scroll-view(fa-start-index="0", fa-pipe-from="listPipe", fa-options="options.listScrollView")
        fa-view(fa-size="[320.5,175/2]", ng-repeat="menu in rows track by $index")
          fa-surface(class="apply-content", fa-pipe-to="listPipe", fa-translate="[0,0,0]" fa-size="[undefined,true]")
            div.media
              img.company-img
              div.media-body
                h4.title
                  | Front-end Engineer
                p.subtitle
                  | Abacus • New York City
                p.description
                  | Full Time • $80K - 120K • 0.0% - 2.0%
            .hline
            .margin-bottom-100(ng-if="$index==rows.length-1")
