fa-surface(class="{{'jobcard'+(card.index-curIdx)}}", fa-pipe-to="swipePipe", fa-size="[300,430]")
  .card-background
    div
      img.card-logo(ng-src="{{card.startup.thumb_url}}")
    .card-title-grad
    .card-title
      | {{card.title}}
    .card-subtitle
      | {{card.startup.name}}
      span(ng-if="card.location")
        | , {{card.location}}
    div.card-hero-wrapper
      //- img.card-hero(ng-repeat="screenshot in card.startup.screenshots", ng-src="{{screenshot.thumb}}")
      img.card-hero(ng-src="{{card.screenshot}}")
      //- img.card-hero(ng-src="{{card.startup.logo_url}}")
      //- img.card-hero(ng-src="{{card.startup.logo_url}}")
      //- img.card-hero(ng-src="{{card.startup.logo_url}}")
      //- img.card-hero(ng-src="{{card.startup.logo_url}}")
    .card-desc-wrap
      .card-desc
        | {{card.description || card.startup.product_desc}}
      .hline
      .card-detail
        ul
          li.list-item
            | {{card.job_type.capitalize()}}
          li.list-item
            | {{(card.salary_min/1000|| 0) | number}}K - {{(card.salary_max/1000|| 0) | number}}K
          li.list-item
            | {{card.startup.company_size}} employees
          li.list-item
            | {{(card.equity_min || 0) | number:1}}% - {{(card.equity_max || 0) | number:1}}%
  .card-overlay-wrapper(ng-show="status=='pass'")
    img(src="/images/assets/overlay-pass.png")
  .card-overlay-wrapper(ng-show="status=='fav'")
    img(src="/images/assets/overlay-fav.png")
  //- .card-overlay-wrapper
  //-   img(src="/images/assets/overlay-pass.png")
  //- .card-overlay-wrapper
  //-   img(src="/images/assets/overlay-fav.png")
