fa-app.full-screen.main-content
  //- fa-modifier(fa-translate="getPagePosition(2)")
  fa-modifier#backgroundModNext(fa-translate="[0,0,-2]")
    fa-image-surface.job-background-blur(fa-size="[undefined,undefined]", fa-image-url="{{nextImage}}")
  fa-modifier#backgroundModCurrent(fa-translate="[0,0,-1]")
    fa-image-surface.job-background-blur(fa-size="[undefined,undefined]", fa-image-url="{{currentImage}}")
  fa-animation(timeline="scrollXPosition")
    animate(targetmodselector="#backgroundModNext", field="opacity", startvalue="1", endvalue="0.1")
    animate(targetmodselector="#backgroundModCurrent", field="opacity", startvalue="0.1", endvalue="1")
  fa-modifier(fa-translate="[0,0,20]")
    fa-modifier(fa-translate="getPosition(card.index,curIdx)",ng-repeat="card in cards track by card.index", ng-controller="JobCardCtrl")
      fa-modifier(fa-scale="[0.95,.95]", fa-origin="[0.5, 0.5]", fa-align="[0.5,0.45]")
        fa-modifier(fa-rotate="getRotation(card.index,curIdx)")
          include job-card
fa-app.help-icon
  //- fa-modifier(fa-origin="[.5, .5]", fa-align="[1, 0]", fa-translate="[-37,37,0]")
  fa-image-surface.card-tutorial-btn(fa-image-url="/images/assets/help.png", fa-size="[40,40]", fa-click="openTutorial()")
fa-app.full-screen(ng-if="showTutorial")
  fa-modifier#tutorialMod
    div(ng-include="'./views/job/tutorial.html'", ng-controller="TutorialCtrl")
  fa-animation(timeline="scrollYPosition")
    animate(targetmodselector="#tutorialMod", field="translate", startvalue="[0,0,-cardSpacing*2-2]", endvalue="[0,0,1]")
    animate(targetmodselector="#tutorialMod", field="opacity", startvalue="0", endvalue="1")
