fa-modifier(fa-translate="[0,0,0]")
  fa-container-surface(fa-options="options.containerSurface")
    fa-modifier#backgroundModNext(fa-translate="[0,0,-2]")
      fa-surface(fa-size="[undefined,undefined]")
        img.job-background-blur(ng-src="{{nextImage}}")
    fa-modifier#backgroundModCurrent(fa-translate="[0,0,-1]")
      fa-surface(fa-size="[undefined,undefined]")
        img.job-background-blur(ng-src="{{currentImage}}")
    fa-animation(timeline="scrollXPosition")
      animate(targetmodselector="#backgroundModNext", field="opacity", startvalue="0", endvalue="1")
    fa-animation(timeline="scrollXPosition")
      animate(targetmodselector="#backgroundModCurrent", field="opacity", startvalue="1", endvalue="0")
fa-modifier(fa-translate="[0,0,cardSpacing*2]")
  fa-view(ng-repeat="card in cards track by card.index", ng-controller="JobCardCtrl")
    fa-modifier(fa-translate="getPosition(card.index,curIdx)")
      fa-modifier(fa-translate="[320/2,568/2-38]")
        fa-modifier(fa-rotate="getRotation(card.index,curIdx)")
          fa-modifier(fa-origin="[0.5, 0.5]", fa-align="[0,0]")
            include job-card
  fa-modifier(fa-origin="[.5, .5]", fa-align="[1, 0]", fa-translate="[-37,37,0]")
    fa-image-surface.card-tutorial-btn(fa-image-url="/images/assets/help.png", fa-size="[40,40]", fa-click="openTutorial()")
  fa-modifier#tutorialMod
    div(ng-include="'./views/job/tutorial.html'", ng-controller="TutorialCtrl")
  fa-animation(timeline="scrollYPosition")
    animate(targetmodselector="#tutorialMod", field="translate", startvalue="[0,0,-cardSpacing*2-2]", endvalue="[0,0,1]")
    animate(targetmodselector="#tutorialMod", field="opacity", startvalue="0", endvalue="1")
