fa-view#menuView(fa-index="0")
  fa-modifier(fa-translate="getMenuPosition()")
    fa-modifier#backgroundMod(fa-origin="[.5, .5]")
      fa-surface.menu-background(
        fa-background-color="'#000030'",
        fa-pipe-to="menuPipe",
        fa-size="[undefined, undefined]")
          fa-image-surface.help(fa-image-url="/images/assets/help.png", fa-size="[40,40]", fa-click="clickHelp()")
