fa-view
  fa-modifier
    fa-surface(fa-size="[320,undefined]")
      .login-btn-wrap
        h4(style="text-align:center;top:30%;position:absolute") Welcome to Simple
        div.btn.action-button.login-btn(ng-click="login()") Login with AngelList
