fa-app.full-screen.main-content
  fa-modifier(fa-translate="getPagePosition(0)")
    fa-image-surface.login-background-blur(fa-image-url="/images/assets/loginbackground.png",fa-align="[0.5,0.5]",fa-origin="[0.5,0.5]",fa-size="[true,true]")
    fa-surface(fa-size="[undefined,undefined]")
      //- img.login-background-blur(src="/images/assets/loginbackground.png")
      div.login-logo-wrapper
        img.login-logo(src="/images/assets/logo.png")
        div.login-text Minimize your job search’s effort
      div.login-btn-wrapper
        div.btn.action-button.login-btn(ng-click="login()") 
          span
            span.login-btn-text login 
            span.login-btn-text-2 with 
            span.login-btn-text angellist
      .login-text-term-wrapper(ng-click="clickTerm()")
        .login-text-term By signing up, you have agreed with our Terms of Service