fa-app.full-screen(fa-perspective="500")
  fa-modifier(fa-translate="[0,0,0]", fa-origin="[.5, .5]", fa-align="[.5, .5]")
    fa-surface.screen-background(fa-background-color="'rgba(0,0,0,0.5)'")
  fa-modifier(fa-origin="[.5, .5]", fa-size="[320, 568]")
    fa-scroll-view(fa-start-index="0", fa-pipe-from="enginePipe", fa-options="options.mainScrollView")
      fa-modifier(fa-translate="[0,0,0]")
        div(ng-include="'./views/login/login.html'", ng-controller="LoginCtrl")
      fa-modifier(fa-translate="[0,0,0]")
        div(ng-include="'./views/profile/profile.html'", ng-controller="ProfileCtrl")
      fa-modifier(fa-translate="[0,0,0]")
        div(ng-include="'./views/job/job.html'", ng-controller="JobCtrl")
      fa-modifier(fa-translate="[0,0,1]")
        div(ng-include="'./views/apply/apply.html'", ng-controller="ApplyCtrl")
      fa-modifier(fa-translate="[0,0,0]")
        div(ng-include="'./views/detail/detail.html'", ng-controller="DetailCtrl")
