fa-view(fa-index="0" class="profile-card")
  fa-image-surface(class="profile-background",fa-origin="[0.5, 0.5]", fa-align="[0.5, 0.5]",fa-translate="[0.5,0.5,0]",fa-pipe-to="swipePipe", fa-size="[true,auto]", fa-image-url="/images/assets/hero.png")
  fa-surface(class="profile-content" ,fa-translate="[0,0,1]" )
    .profile-logo
    div.media
      img.profile-img
      div.media-body
        h4.name
          |STEFAN BORSJE
        p.bio
          |Co-founder / CTO @karma Previously founded @PressDoc.com and @Shallibuy.it
        p.skill
          |San Francisco · Silicon Valley · Notable Founder · Notable Operator · Angel · Operations
        p.signout
          |Signout

  fa-surface(class="footer", fa-translate="[0,0,0]", fa-pipe-to="swipePipe", fa-size="[300,true]", class="red-bg")
