fa-view(fa-index="0")
  fa-modifier(fa-translate="getMenuPosition()")
    fa-modifier#backgroundMod(fa-origin="[.5, .5]")
      fa-surface.menu-background(fa-background-color="'#000030'", fa-pipe-to="menuPipe", fa-size="[undefined, undefined]")
    fa-modifier(fa-origin="[0,0]", fa-align="[0,0]", fa-translate="[110,67]")
      fa-image-surface.menu-layer(fa-pipe-to="menuPipe", fa-image-url="/images/assets/logo.png", fa-size="[100,39]")
    fa-modifier(fa-origin="[.5,0]", fa-align="[0,0]", fa-translate="[94/2,178/2]")
      fa-image-surface.menu-layer(fa-pipe-to="menuPipe", fa-image-url="/images/assets/line.png", fa-size="[true,(menus.length-1)*100+200]")
    fa-modifier(ng-repeat="menu in menus", fa-origin="[.5, .5]", fa-align="[0, .5]", fa-translate="[94/2,($index-1)*100]")
      fa-image-surface.menu-layer(fa-pipe-to="menuPipe", fa-image-url="/images/assets/oval.png", fa-size="[15, 15]")
      fa-modifier(fa-origin="[0, .5]", fa-translate="[31,0]")
        fa-surface.menu-item.menu-layer(fa-pipe-to="menuPipe", fa-size="[undefined, true]")
          | {{menu}}
    fa-modifier#swipedownMod(fa-origin="[.5, 1]", fa-align="[0.5, 1]", fa-translate="[0,-8.5,0]")
      fa-image-surface.menu-layer(fa-pipe-to="menuPipe", fa-image-url="/images/assets/swipedown.png", fa-size="[371/2,8.5]")
