fa-container-surface(fa-options="options.containerSurface")
  fa-modifier(fa-origin="[0.5,0]")
    fa-image-surface.profile-background-blur(fa-image-url="/images/assets/Troy.jpg")
  fa-surface.profile-surface
    .profile-logo
    .profile-content
      .col-xs-3
        img.profile-img(src='/images/assets/Troy.jpg')
      .col-xs-9
        h4.profile-name
          | Troy Do
        p.profile-bio
          | Founder 
          span.profile-link @Spyke
          | ,
          span.profile-link @Hitch Lab  
          | • Worked at @Bank of America Merrill Lynch 
          | • Studied at @Ohio Wesleyan, @Berkeley
        p.profile-skill
          | San Francisco · Sales · Product Manager · Angel · University of California, Berkeley · Ohio Wesleyan University
        p.profile-signout
          | Sign Out