
<fa-view fa-index="0">
  <fa-modifier fa-translate="getMenuPosition()">
    <fa-modifier id="backgroundMod" fa-origin="[.5, .5]">
      <fa-surface fa-background-color="'#000030'" fa-pipe-to="menuPipe" fa-size="[undefined, undefined]" class="menu-background"></fa-surface>
    </fa-modifier>
    <fa-modifier fa-origin="[0,0]" fa-align="[0,0]" fa-translate="[110,67]">
      <fa-image-surface fa-pipe-to="menuPipe" fa-image-url="/images/assets/logo.png" fa-size="[100,39]" class="menu-layer"></fa-image-surface>
    </fa-modifier>
    <fa-modifier fa-origin="[.5,0]" fa-align="[0,0]" fa-translate="[94/2,178/2]">
      <fa-image-surface fa-pipe-to="menuPipe" fa-image-url="/images/assets/line.png" fa-size="[true,(menus.length-1)*100+200]" class="menu-layer"></fa-image-surface>
    </fa-modifier>
    <fa-modifier ng-repeat="menu in menus" fa-origin="[.5, .5]" fa-align="[0, .5]" fa-translate="[94/2,($index-1)*100]">
      <fa-image-surface fa-pipe-to="menuPipe" fa-image-url="/images/assets/oval.png" fa-size="[15, 15]" class="menu-layer"></fa-image-surface>
      <fa-modifier fa-origin="[0, .5]" fa-translate="[31,0]">
        <fa-surface fa-pipe-to="menuPipe" fa-size="[undefined, true]" class="menu-item menu-layer">{{menu}}</fa-surface>
      </fa-modifier>
    </fa-modifier>
    <fa-modifier id="swipedownMod" fa-origin="[.5, 1]" fa-align="[0.5, 1]" fa-translate="[0,-8.5,0]">
      <fa-image-surface fa-pipe-to="menuPipe" fa-image-url="/images/assets/swipedown.png" fa-size="[371/2,8.5]" class="menu-layer"></fa-image-surface>
    </fa-modifier>
  </fa-modifier>
</fa-view>